<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Deck</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<h1>Add deck</h1>
<div class="col-md-5">
    <form action="/decks/save"
          method="post"
          th:object="${deck}">
        <input type="text" hidden="hidden" name="id" th:value="${deck.getId()}">
        <div class="form-group">
            <label for="name">Deck name</label>
            <input type="text"
                   class="form-control"
                   id="name"
                   name="name"
                   th:field="*{name}"
                   required
                   placeholder="Enter deck name">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button class="btn btn-primary" onclick="location.href='/decks'" type="button" style="width: 80px">
            Back
        </button>
    </form>
</div>
</body>
</html>