<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Шпилови</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" rel="stylesheet">

    <script crossorigin="anonymous"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <style>
        .deckmanip {
            width: 130px;
            margin-bottom: 5px;
            height: 50px;
            margin-left: 3px;
            position: relative;
        }

        i {
        }

        body {
            background-color: #B6D8F2;

        }

        .card {
            background-color: #5784BA;
            width: 290px;
            height: 280px;
            display: inline-block;
            float: left;
            padding: 10px;
            border-radius: 15px;
            margin-bottom: 20px;
            margin-right: 5px
        }

    </style>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #5784BA; margin-bottom: 50px">
    <a class="navbar-brand" href="/"><img src="../static/images/logo.png" style="height: 40px"
                                          th:src="@{images/logo.png}"/></a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Дома</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/decks">Шпилови</a>
            </li>
            <li>
                <a class="nav-link" data-toggle="tooltip" href="/decks/public-decks"
                   title="Кликни тука да се пренасочиш кон јавните шпилови">Јавни шпилови</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Одлогирање</a>
            </li>
        </ul>
        <form class="form-inline" method="post" th:action="@{/decks/search}" th:object="${name}">
            <input aria-label="Search" class="form-control mr-sm-2" id="name"
                   maxlength="50"
                   name="name"
                   placeholder="Пребарување"
                   type="text"
            >
            <button class="btn btn-success my-2 my-sm-0" style="margin-right: 5px" type="submit">Побарај
            </button>
        </form>
        <form method="post" th:action="@{/decks/clearSearch}">
            <button class="btn btn-info" type="submit">Исчисти пребарување</button>
        </form>
    </div>
</nav>

<div class="container mb-4">
    <div style="width: 80%; margin: auto" th:each="deck: ${decks}">
        <div class="card">
            <div style="height:100px">
                <b style="color: white; font-size: large" th:text="${deck.getName()}"></b>
                <p style="color: white" th:text="${deck.getDescription()}"></p>
            </div>
            <div style="width: 100%">
                <form th:action="@{/decks/{id}/open(id=${deck.getId()})}">
                    <button class="btn btn-primary deckmanip" data-toggle="tooltip" style="float: left"
                            title="Отвори го шпилот"
                            type="submit">
                        <i class="fa fa-table"><span
                                style="font-family: 'Segoe UI', 'Tahoma', 'sans-serif'; margin-left: 7px">Отвори</span></i>
                    </button>
                </form>
                <form th:action="@{/decks/{id}/add_cards(id=${deck.getId()})}">
                    <button class="btn btn-info deckmanip" data-toggle="tooltip" title="Додади картички" type="submit">
                        <i
                                class="fa fa-plus-square"><span
                                style="font-family: 'Segoe UI', 'Tahoma', 'sans-serif'; margin-left: 7px">Додади картички</span></i>
                    </button>
                </form>
                <form th:action="@{/decks/{id}/update-deck(id=${deck.getId()})}">
                    <button class="btn btn-success deckmanip" data-toggle="tooltip" style="float: left;"
                            title="Промени го шпилот"
                            type="submit">
                        <i class="fa fa-edit"><span
                                style="font-family: 'Segoe UI', 'Tahoma', 'sans-serif'; margin-left: 7px">Промени</span></i>
                    </button>
                </form>
                <form th:action="@{/decks/{id}/delete(id=${deck.getId()})}" th:method="delete">
                    <button class="btn btn-danger deckmanip" data-toggle="tooltip" style="background-color: #be4f62"
                            title="Избриши го шпилот" type="submit">
                        <i class="fa fa-trash"><span
                                style="font-family: 'Segoe UI', 'Tahoma', 'sans-serif'; margin-left: 7px; clear: both; position: relative">Избриши</span></i>
                    </button>
                </form>

                <form th:action="@{/decks/save-to-public/{id}(id=${deck.getId()})}"
                      th:if="${deck.getOwner().toString().equals('PRIVATE')}" th:method="post">
                    <button class="btn btn-outline-warning deckmanip" data-toggle="tooltip" title="Избриши го шпилот"
                            type="submit">
                        <i class="fa fa-trash"><span
                                style="font-family: 'Segoe UI', 'Tahoma', 'sans-serif'; margin-left: 7px; clear: both; position: relative">Save to public</span></i>
                    </button>
                </form>
                <form th:action="@{/decks/public-decks/save-to-private/{id}(id=${deck.getId()})}"
                      th:if="${deck.getOwner().toString().equals('PUBLIC')}" th:method="post">
                    <button class="btn btn-outline-warning deckmanip" data-toggle="tooltip" title="Избриши го шпилот"
                            type="submit">
                        <i class="fa fa-trash"><span
                                style="font-family: 'Segoe UI', 'Tahoma', 'sans-serif'; margin-left: 7px; clear: both; position: relative">Remove from public</span></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <a class="btn btn-block btn-light" data-toggle="tooltip" href="/decks/add_deck"
       style="width: 100%; margin: auto; float: left" title="Кликни тука да додадеш нов шпил">Додади нов шпил</a>

</div>
</body>
</html>